<h2 id="page-heading">
  <span>Assigned tickets</span>
</h2>
<jhi-alert></jhi-alert>
<br />
<div *ngIf="tickets" class="table-responsive">
  <table aria-label="Lista de tickets associados ao usuário" class="table table-striped">
    <thead>
      <tr [(ascending)]="reverse" [(predicate)]="predicate" jhiSort>
        <th jhiSortBy="id">
          <span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="title">
          <span jhiTranslate="bugTrackerJHipsterApp.ticket.title">Title</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="descriptiton">
          <span jhiTranslate="bugTrackerJHipsterApp.ticket.descriptiton">Descriptiton</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="dueDate">
          <span jhiTranslate="bugTrackerJHipsterApp.ticket.dueDate">Due Date</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="done">
          <span jhiTranslate="bugTrackerJHipsterApp.ticket.done">Done</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="project.name">
          <span jhiTranslate="bugTrackerJHipsterApp.ticket.project">Project</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="assignedTo.login">
          <span jhiTranslate="bugTrackerJHipsterApp.ticket.assignedTo">Assigned To</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>
          <a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a>
        </td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.descriptiton }}</td>
        <td>{{ ticket.dueDate | formatMediumDate }}</td>
        <td>{{ ticket.done }}</td>
        <td>
          <div *ngIf="ticket.project">
            <a [routerLink]="['../project', ticket.project.id, 'view']">{{ ticket.project.name }}</a>
          </div>
        </td>
        <td>
          {{ ticket.assignedTo?.login }}
        </td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button [routerLink]="['/ticket', ticket.id, 'view']" class="btn btn-info btn-sm" type="submit">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary btn-sm" type="submit">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
